/*Pratica de uma pseudo-classe dinamica +
 pseudo-classe estrutural*/
li:nth-child(3):hover {
  background-color: blue;
}
/*Pratica de pseudo-classes estruturais*/
li:nth-child(3) {
  color: rgb(176, 196, 4);
}

.lista2 :first-child {
  color: blueviolet;
}

#lista1 :last-child {
  background-color: deeppink;
}

.lista2 :first-of-type {
  font-size: 20px;
}

#lista1 :last-of-type {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.lista2 {
  background-color: coral;
}

:not(p) {
  border: 5px solid gold
}
